// COLORS
$bgColor: white;
$appColor: #E0E6EE;
$cardColor: #FFFFFF;
$buttonColor: #748cdb;
$mood-colors: ("level_1": #880E4F,
    "level_2": #C2185B,
    "level_3": #D81B60,
    "level_4": #C62828,
    "level_5": #E53935,
    "level_6": #FDD835,
    "level_7": #CDDC39,
    "level_8": #43A047,
    "level_9": #66BB6A,
    "level_10": #43A047,
    "empty": #f4f4f4);


// SPACES
$cardGap: 50px;

$bigRadius: 16px;
$smallRadius: 8px;
$cellRadius: 8px;