@import 'variables';
@import 'shared/form';
@import 'shared/images';
@import 'shared/links';
@import 'components/moodList';
@import 'components/moodTips';
@import 'components/moodPopup';

body,
html,
#root,
main {
    margin: 0;
    padding: 0;
    background-color: $bgColor;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}