.moodList {
    max-width: 800px;
    width: 100%;
    // background-color: $cardColor;
    // border-radius: 16px;
    // padding: 32px 64px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: $cardGap;
    // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);



    &__header {
        display: block;
        text-align: center;

        @media (max-width: 820px) {
            font-size: 14px;
        }

    }

    &__list,
    &__headerWrapper {
        display: grid;
        box-sizing: border-box;
        grid-gap: 20px;
        grid-template-columns: repeat(7, 1fr);
        padding: 0;

        @media (max-width: 820px) {
            padding: 0 15px;
            grid-gap: 5px;
        }
    }

    &__day {
        background-color: brown;
        list-style-type: none;
        cursor: pointer;
        border-radius: $cellRadius;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);

        &::before {
            content: "";
            padding-bottom: 100%;
            display: inline-block;
            vertical-align: top;
        }

        @each $color,
        $value in $mood-colors {
            &--#{$color} {
                background-color: $value;

                @if $color=='empty' {
                    cursor: default;
                    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}