.moodTips {
    max-width: 800px;
    width: 100%;
    background-color: $cardColor;
    border-radius: 16px;
    padding: 32px 64px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: $cardGap;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);

    @media (max-width: 820px) {
        padding: 24px 32px;
        box-shadow: none;
        margin-bottom: 25px;
    }

    &__average {
        display: block;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;

        @media (max-width: 820px) {
            font-size: 20px;
        }

    }



}