.moodPopup {
    max-width: 400px;
    width: 90vw;
    box-sizing: border-box;
    background-color: $cardColor;
    border-radius: 8px;
    padding: 24px 32px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);

    hr {
        border: 1px solid lightgray;
    }

    &__exit {
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 15px;
        font-size: 24px;
    }

    &__mood {
        font-weight: bold;

        span {
            font-size: 20px;
        }
    }

    &__date span {
        font-weight: bold;
    }
}