.form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    background-color: $cardColor;
    border-radius: $bigRadius;
    padding: 32px 64px;
    margin: auto;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);

    @media (max-width: 820px) {
        padding: 0px 32px;
        box-shadow: none;
    }

    &--mood {
        position: initial;
        transform: unset;
        margin-bottom: $cardGap;

    }

    &__label {
        margin: 16px 0;
        font-weight: bold;
        font-size: 18px;
    }

    &__input,
    &__select {
        height: 30px;
        font-size: 18px;
    }

    &__button {
        background-color: $buttonColor;
        margin-left: auto;
        margin-top: 20px;
        font-size: 18px;
        padding: 8px 24px;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;

    }

    &__textarea {
        border-radius: 8px;
        border: 1px solid black;
        padding: 8px;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        box-sizing: border-box;
    }
}